@model IEnumerable<CustomerViewModel>

@{
  ViewData["Title"] = "Customers";
}

<div class="row justify-content-center">
  <div>
    <form class="form-group" asp-action="Index" asp-controller="Customer" method="get">
      Search By Name: 
      <input type="text" name="id" />
      <input type="submit" value="Filter" />
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>
          @Html.DisplayNameFor(model => model.First().FirstName)
        </td>
        <td>
          @Html.DisplayNameFor(model => model.First().LastName)
        </td>
        <td>
          @Html.DisplayNameFor(model => model.First().PhoneNumber)
        </td>
        <td>
          @Html.DisplayNameFor(model => model.First().Email)
        </td>
        <td>
          @Html.DisplayNameFor(model => model.First().Address)
        </td>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>
            @Html.DisplayFor(_ => item.FirstName)
          </td>
          <td>
            @Html.DisplayFor(_ => item.LastName)
          </td>
          <td>
            @Html.DisplayFor(_ => item.PhoneNumber)
          </td>
          <td>
            @Html.DisplayFor(_ => item.Email)
          </td>
          <td>
            @Html.DisplayFor(_ => item.Address)
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>