@model IEnumerable<OrderSummaryViewModel>

@{
  ViewData["Title"] = "Orders";
}

<div>
  @if (Model.Any()) {
    <table class="table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Admin</th>
          <th>
            @Html.DisplayNameFor(model => model.First().Total)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.First().PlacementDate)
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model) {
          <tr>
            <td>
              @Html.DisplayFor(_ => item.LocationLink.Item1)
              @*@Html.ActionLink(item.CustomerLink.Item1, "Details", "Location", new { id = item.CustomerLink.Item2 })*@
            </td>
            <td>
              @Html.DisplayFor(_ => item.AdminLink.Item1)
              @*@Html.ActionLink(item.CustomerLink.Item1, "Details", "Admin", new { id = item.CustomerLink.Item2 })*@
            </td>
            <td>
              @Html.DisplayFor(_ => item.Total)
            </td>
            <td>
              @Html.DisplayFor(_ => item.PlacementDate)
            </td>
            <td>
              @Html.ActionLink("Details", "Details", "Order", new { id = item.OrderId })
            </td>
          </tr>
        }
      </tbody>
    </table>
  } else {
    <p class="row justify-content-center">No Orders Present</p>
  }
</div>