@using Microsoft.AspNetCore.Identity

@inject SignInManager<ArkhenManufacturing.DataAccess.ApplicationUser> SignInManager
@inject UserManager<ArkhenManufacturing.DataAccess.ApplicationUser> UserManager

<div>
  @*  *@
  @if(User.IsInRole("Admin")) {
    <select>
    <option>@Html.ActionLink("Admins", "Index", "Admin")</option>
    <option>@Html.ActionLink("Customers", "Index", "Customer")</option>
    @* Add a line separater here *@
    <option>@Html.ActionLink("InventoryEntries", "Index", "InventoryEntry")</option>
    <option>@Html.ActionLink("Locations", "Index", "Location")</option>
    <option>@Html.ActionLink("Orders", "Index", "Order")</option>
    <option>@Html.ActionLink("OrderLines", "Index", "OrderLine")</option>
    <option>@Html.ActionLink("Products", "Index", "Product")</option>
  </select>
  }
</div>