@model ArkhenManufacturing.WebApp.Models.ProductViewModel

<div>
  <dl class="col">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.ProductName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Count)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Count)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Price)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Threshold)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Threshold)
    </dd>
    @if (Model.Discount > 0.0M) {
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Discount)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Discount)
      </dd>
    }
  </dl>
  <div>
    @*@Html.RouteLink("Details", "Product", new { id = Model.Id })*@
    @Html.ActionLink("Details", "Details", "Product", new { id = Model.Id })
    @*@if ((TempData.Peek("IsAdmin") as bool?).Value) {
      // Show this only if the current user is an admin
      | Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ });@:|
      Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ });
    }*@
  </div>
</div>
