@model ArkhenManufacturing.WebApp.Models.ProductViewModel

@{
  ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
  <hr />
  <dl class="row">
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Count) left in stock
    </dd>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Threshold) maximum
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.DiscountedPrice)
      @if (Model.Discount > 0.0M) {
        @:(@(Html.DisplayFor(model => model.DiscountPercentage))%)
      }
</dl>
  @if (TempData["CurrentUser"] is not null) {
    await Html.RenderPartialAsync("RequestProduct", new ProductRequestViewModel(Model.Id)
    {
      ProductName = Model.ProductName,
      Count = 0,
      PricePerUnit = Model.Price,
      Discount = Model.Discount
    });
  }
  @*<form asp-controller="Product" asp-action="AddToCart">
    <input type="number" value="Count" />
    <button type="submit" value="Add to Cart" />
    </form>*@
</div>
@*<div>
  @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
  <a asp-action="Index">Back to List</a>
  </div>*@
