@model Tuple<ArkhenManufacturing.WebApp.Models.ProductViewModel, ICollection<Tuple<string, Guid>>>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ArkhenManufacturing.DataAccess.ApplicationUser> SignInManager
@inject UserManager<ArkhenManufacturing.DataAccess.ApplicationUser> UserManager

@{
  ViewData["Title"] = Model.Item1.ProductName;
}

<h1>Details</h1>

<div>
  <hr />
  <dl class="row">
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Item1.ProductName)
    </dd>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Item1.Count) left in stock
    </dd>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Item1.Threshold) maximum
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Item1.Price)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Item1.DiscountedPrice)
      @if (Model.Item1.Discount > 0.0M) {
        @:(@(Html.DisplayFor(model => model.Item1.DiscountPercentage))% Discount)
      }
  </dl>
  @if (SignInManager.IsSignedIn(User)) {
    await Html.RenderPartialAsync("RequestProduct", new ProductRequestViewModel(Model.Item1.Id)
    {
      PossibleLocations = Model.Item2,
      ProductName = Model.Item1.ProductName,
      Count = 0,
      PricePerUnit = Model.Item1.Price,
      Discount = Model.Item1.Discount
    });
  }
</div>
@*<div>
  @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
  <a asp-action="Index">Back to List</a>
  </div>*@
